h1 {
    color: #D5B9B2;
}



/****Left Sidebar ***/

#left-col {
    background-color: #ECE2D0;
    width: 10cm;
    height: 100vh;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
}


/********Work Experience Styling ***/


#work {
    margin-top: 2cm;
}

#work h2 {
    color: #A26769;
}

#education h2 {
    color: #A26769;
}

#personal_background h2 {
    color: #A26769;
}

#references h2 {
    color: #A26769;
}

h2 {
    color: rgb(201, 22, 43);
}

h4 {
    color: rgba(22, 149, 42, 0.53);
}

#research-papers-prepared h2 {
    color: #A26769;
}

ul {
    list-style: none;
}